
.vs/ASCENDED Z/FileContentIndex/bc299085-ff56-49e9-8a4f-bbcfc9aa9fef.vsidx
.vs/ASCENDED Z/FileContentIndex/0291155f-f99d-4cbd-9d0a-e6716b51c791.vsidx
.vs/ASCENDED Z/FileContentIndex/bc299085-ff56-49e9-8a4f-bbcfc9aa9fef.vsidx
*.vsidx
