
.vs/ASCENDED Z/FileContentIndex/bc299085-ff56-49e9-8a4f-bbcfc9aa9fef.vsidx
.vs/ASCENDED Z/FileContentIndex/0291155f-f99d-4cbd-9d0a-e6716b51c791.vsidx
.vs/ASCENDED Z/FileContentIndex/bc299085-ff56-49e9-8a4f-bbcfc9aa9fef.vsidx
*.vsidx
.vs/ASCENDED Z/v17/.suo
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/mono/metadata/ide_messaging_meta.txt
.godot/mono/temp/bin/ExportRelease/win-x64/Ascended Z.dll
.godot/mono/temp/obj/Ascended Z.csproj.nuget.dgspec.json
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/Ascended Z.assets.cache
.godot/mono/temp/obj/Debug/Ascended Z.csproj.AssemblyReference.cache
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/PublishOutputs.262dbd92ba.txt
.godot/mono/temp/obj/ExportRelease/win-x64/ref/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/refint/Ascended Z.dll
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.nuget.cache
.vs/ASCENDED Z/DesignTimeBuild/.dtbcache.v2
.vs/ASCENDED Z/v17/.suo
.vs/ASCENDED Z/v17/DocumentLayout.json
.vs/ProjectEvaluation/ascended z.metadata.v8.bin
.vs/ProjectEvaluation/ascended z.projects.v8.bin
.godot/editor/editor_layout.cfg
.vs/ASCENDED Z/v17/.suo
.vs/ASCENDED Z/v17/DocumentLayout.json
.vs/ProjectEvaluation/ascended z.metadata.v8.bin
.vs/ProjectEvaluation/ascended z.projects.v8.bin
.godot/mono/temp/obj/Debug/Ascended Z.pdb
.godot/mono/temp/obj/Debug/Ascended Z.dll
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/bin/Debug/Ascended Z.pdb
.godot/mono/temp/bin/Debug/Ascended Z.dll
.godot/global_script_class_cache.cfg
.godot/editor/Icon.tscn-editstate-e4d40e688ff87d0025699b94b52d308b.cfg
.godot/editor/filesystem_update4
.godot/editor/editor_layout.cfg
.godot/editor/editor_layout.cfg
.godot/mono/temp/obj/ExportRelease/win-x64/refint/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/ref/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/PublishOutputs.42f64c8349.txt
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/refint/Ascended Z.dll
.godot/mono/temp/obj/Debug/ref/Ascended Z.dll
.godot/mono/temp/obj/Debug/Ascended Z.sourcelink.json
.godot/mono/temp/obj/Debug/Ascended Z.pdb
.godot/mono/temp/obj/Debug/Ascended Z.GeneratedMSBuildEditorConfig.editorconfig
.godot/mono/temp/obj/Debug/Ascended Z.dll
.godot/mono/temp/obj/Debug/Ascended Z.assets.cache
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/bin/ExportRelease/win-x64/Ascended Z.dll
.godot/mono/temp/bin/Debug/Ascended Z.pdb
.godot/mono/temp/bin/Debug/Ascended Z.dll
.godot/exported/133200997/file_cache
.godot/exported/133200997/export-a1e8e9a0e646571f11e47d59438e119d-EffectSprite.scn
.godot/editor/PartyMemberDisplay.tscn-editstate-0842326564e8894be440dbbe26b754e2.cfg
.godot/editor/PartyEditScreen.tscn-editstate-8fdbbb600fb40ac89e9fcb01fac5bed2.cfg
.godot/editor/PartyBattleDisplayBox.tscn-editstate-f4e43dffa6d76e984c8c2018fc1d3a4d.cfg
.godot/editor/MainScreen.tscn-editstate-d0f9623a0b410b50d92728b581bcca8b.cfg
.godot/editor/Icon.tscn-editstate-e4d40e688ff87d0025699b94b52d308b.cfg
.godot/editor/FloorExitScene.tscn-editstate-67b6811d28c78c4e65345c42e70cdb5e.cfg
.godot/editor/EnemyBattleDisplayBox.tscn-editstate-ecdc6a6eb1152f6e4224356906ea540e.cfg
.godot/editor/EndScreenOptions.tscn-editstate-723dc3b8d3b316320826627531e5ac23.cfg
.godot/editor/EffectSprite.tscn-editstate-a1e8e9a0e646571f11e47d59438e119d.cfg
.godot/editor/DungeonScreen.tscn-editstate-1b6a78708a20ecd0e8669d99fcfe0200.cfg
.godot/editor/BossBattleDisplayBox.tscn-editstate-a424f6ebc7dcf666378e367fc9ad3d14.cfg
.godot/editor/BattleEnemyScene.tscn-editstate-37e4923109cb2b57aa4dbd7806136c6f.cfg
.godot/editor/ActionMenu.tscn-editstate-877abc241e8ceb4c7f71d0fd2ae8c49a.cfg
.godot/mono/temp/obj/ExportRelease/win-x64/ref/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/PublishOutputs.c832b4c733.txt
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/Ascended Z.GeneratedMSBuildEditorConfig.editorconfig
.godot/mono/temp/obj/Debug/Ascended Z.csproj.AssemblyReference.cache
.godot/mono/temp/obj/Debug/Ascended Z.assets.cache
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/obj/Ascended Z.csproj.nuget.dgspec.json
.godot/mono/temp/bin/ExportRelease/win-x64/Ascended Z.dll
.godot/exported/133200997/file_cache
.godot/exported/133200997/export-a1e8e9a0e646571f11e47d59438e119d-EffectSprite.scn
.godot/mono/temp/obj/Ascended Z.csproj.nuget.dgspec.json
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/Ascended Z.assets.cache
.godot/mono/temp/obj/Debug/Ascended Z.GeneratedMSBuildEditorConfig.editorconfig
.godot/mono/temp/obj/project.nuget.cache
.godot/mono/temp/bin/ExportRelease/win-x64/Ascended Z.dll
.godot/mono/temp/obj/Ascended Z.csproj.nuget.dgspec.json
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/Ascended Z.assets.cache
.godot/mono/temp/obj/Debug/Ascended Z.csproj.AssemblyReference.cache
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.AssemblyInfo.cs
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.AssemblyInfoInputs.cache
.godot/mono/temp/obj/ExportRelease/win-x64/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/PublishOutputs.6d868a2f0b.txt
.godot/mono/temp/obj/ExportRelease/win-x64/ref/Ascended Z.dll
.godot/mono/temp/obj/ExportRelease/win-x64/refint/Ascended Z.dll
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.nuget.cache
*.cache
